<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rw.ac.utb.garbagemanagementapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/garbagelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/garbagelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GarbageManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".AdminViewAllFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewComplainActivity"
            android:exported="false" />
        <activity
            android:name=".ClientComplainActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllClientActivity"
            android:exported="false" />
        <activity
            android:name=".AddClientActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllStaffActivity"
            android:exported="false" />
        <activity
            android:name=".AddStaffActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".categoryBoardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GarbageManagementApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>